*{
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", cursive;;
    font-weight: 400;

    line-height: 150%;
    box-sizing: border-box;
}

body{
    background-color: #2A9D8F;
    height: 100%;
}

.logo{
    margin-top: 2rem;
    transform: rotatex(1800deg);
    transition: 5s;
}

.button{
    display: flex;
    flex-direction: column;

    box-sizing: 100%;
    width: 100%;

    align-items: center;
    margin-top: 10%;  
}

#start{
    width: 25rem;
    height: 5rem;
    align-self: center;

    border-radius: 3rem;
    box-shadow: 3px 3px 10px 0 #E9C46A ;
    text-transform: uppercase;
    color:#E76F51;
    background-color: whitesmoke;
}

#addPalavra:hover,
#start:hover{
    filter: brightness(1.3);
    font-size: 20px;
}

#addPalavra{
    width: 25rem;
    height: 5rem;
    align-self: center;
    margin-top: 2rem;

    border-radius: 3rem;
    box-shadow: 3px 3px 10px 0 #E9C46A ;
    text-transform: uppercase;
    color:#E76F51;
    background-color: whitesmoke;

}

footer{
    display: flex;
    font-size: 10px;
    text-decoration: none;
    color: #264653;

    margin-top: 12rem;
    justify-content: center;
    align-items: center;
}

footer a{
    color: #F4A261
}